In [1]:
import numpy as np
import pandas as pd
from function import load_data, get_nav_adjusted, get_standardized_data, get_date_range

Welcome to use Wind Quant API for Python (WindPy)!

COPYRIGHT (C) 2024 WIND INFORMATION CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

In [2]:
data_path = r"D:\Desktop\VScode\Private_nav_research\data\草本致远1号净值20241224 .xlsx"

In [3]:
nav_data = load_data(data_path)

In [4]:
nav_data = get_standardized_data(nav_data)

In [5]:
nav_data

          date  nav_unit  nav_accumulated  nav_adjusted
0   2020-11-04     1.000            1.000        1.0000
1   2020-11-06     1.000            1.000        1.0000
2   2020-11-13     1.000            1.000        1.0000
3   2020-11-20     1.003            1.003        1.0030
4   2020-11-27     1.014            1.014        1.0140
..         ...       ...              ...           ...
217 2024-11-25     1.050            3.023        4.3795
218 2024-11-29     1.057            3.030        4.4087
219 2024-12-06     1.049            3.022        4.3754
220 2024-12-13     1.064            3.037        4.4379
221 2024-12-20     1.037            3.010        4.3253

[222 rows x 4 columns]

In [6]:
nav_data.set_index("date", inplace=True)
nav_data = nav_data.div(nav_data.iloc[0])
nav_data.reset_index(inplace=True)

In [7]:
nav_data

          date  nav_unit  nav_accumulated  nav_adjusted
0   2020-11-04     1.000            1.000        1.0000
1   2020-11-06     1.000            1.000        1.0000
2   2020-11-13     1.000            1.000        1.0000
3   2020-11-20     1.003            1.003        1.0030
4   2020-11-27     1.014            1.014        1.0140
..         ...       ...              ...           ...
217 2024-11-25     1.050            3.023        4.3795
218 2024-11-29     1.057            3.030        4.4087
219 2024-12-06     1.049            3.022        4.3754
220 2024-12-13     1.064            3.037        4.4379
221 2024-12-20     1.037            3.010        4.3253

[222 rows x 4 columns]

In [8]:
from WindPy import w
w.start()

.ErrorCode=0
.Data=[Already connected!]

In [9]:
error_code, benchmark_df = w.wsd(
        "NH0100.NHF",
        "close",
        "2024-01-01",
        "2024-12-20",
        "Fill=Previous",
        usedf=True,
        )

In [11]:
benchmark_df.reset_index(inplace=True)

In [ ]:
benchmark_df.columns = ["date", "南华商品指数"]

In [14]:
benchmark_df

           date   南华商品指数
0    2024-01-02  2550.77
1    2024-01-03  2538.56
2    2024-01-04  2539.29
3    2024-01-05  2518.44
4    2024-01-08  2502.85
..          ...      ...
230  2024-12-16  2527.22
231  2024-12-17  2516.27
232  2024-12-18  2482.00
233  2024-12-19  2471.67
234  2024-12-20  2469.27

[235 rows x 2 columns]

In [15]:
benchmark_df["南华商品指数"] = benchmark_df["南华商品指数"]/benchmark_df["南华商品指数"].iloc[0]

In [16]:
benchmark_df

           date    南华商品指数
0    2024-01-02  1.000000
1    2024-01-03  0.995213
2    2024-01-04  0.995499
3    2024-01-05  0.987325
4    2024-01-08  0.981214
..          ...       ...
230  2024-12-16  0.990767
231  2024-12-17  0.986475
232  2024-12-18  0.973040
233  2024-12-19  0.968990
234  2024-12-20  0.968049

[235 rows x 2 columns]