In [2]:
import pandas as pd
from function import load_data, get_nav_adjusted, get_standardized_data

In [7]:
data_path = r"E:\桌面文件\Vscode\Private_nav_research\data\草本致远1号净值20241224 .xlsx"

In [8]:
nav_data = load_data(data_path)

In [9]:
nav_data = get_standardized_data(nav_data)

In [10]:
nav_data

            日期   单位净值   累计净值      复权净值     涨跌幅
0   2020-11-04  1.000  1.000  1.000000      --
1   2020-11-06  1.000  1.000  1.000000   0.00%
2   2020-11-13  1.000  1.000  1.000000   0.00%
3   2020-11-20  1.003  1.003  1.003000   0.30%
4   2020-11-27  1.014  1.014  1.014000   1.10%
..         ...    ...    ...       ...     ...
217 2024-11-25  1.050  3.023  4.379533  -1.04%
218 2024-11-29  1.057  3.030  4.408730   0.67%
219 2024-12-06  1.049  3.022  4.375362  -0.76%
220 2024-12-13  1.064  3.037  4.437927   1.43%
221 2024-12-20  1.037  3.010  4.325311  -2.54%

[222 rows x 5 columns]