In [1]:
import pandas as pd
from function import *

Welcome to use Wind Quant API for Python (WindPy)!

COPYRIGHT (C) 2024 WIND INFORMATION CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

In [2]:
nav_data = load_data("data\SEC905_会世元丰CTA1号_2025-07-18.csv")

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\yueku\AppData\Local\Temp\ipykernel_21520\4234063316.py:1: SyntaxWarning: invalid escape sequence '\S'
  nav_data = load_data("data\SEC905_会世元丰CTA1号_2025-07-18.csv")

In [3]:
nav_data

             日期    单位净值    累计净值    复权净值
0    2018-07-30  1.0000  1.0000  1.0000
1    2018-07-31  1.0000  1.0000  1.0000
2    2018-08-01  1.0000  1.0000  1.0000
3    2018-08-02  1.0000  1.0000  1.0000
4    2018-08-03  1.0000  1.0000  1.0000
..          ...     ...     ...     ...
571  2025-06-27  2.0992  2.0992  2.0992
572  2025-06-30  2.0916  2.0916  2.0916
573  2025-07-04  2.0853  2.0853  2.0853
574  2025-07-11  2.0933  2.0933  2.0933
575  2025-07-18  2.1058  2.1058  2.1058

[576 rows x 4 columns]

In [4]:
nav_data = nav_normalization(nav_data)

In [5]:
nav_data

          date  nav_unit  nav_accumulated  nav_adjusted
0   2018-07-30    1.0000           1.0000        1.0000
1   2018-07-31    1.0000           1.0000        1.0000
2   2018-08-01    1.0000           1.0000        1.0000
3   2018-08-02    1.0000           1.0000        1.0000
4   2018-08-03    1.0000           1.0000        1.0000
..         ...       ...              ...           ...
571 2025-06-27    2.0992           2.0992        2.0992
572 2025-06-30    2.0916           2.0916        2.0916
573 2025-07-04    2.0853           2.0853        2.0853
574 2025-07-11    2.0933           2.0933        2.0933
575 2025-07-18    2.1058           2.1058        2.1058

[576 rows x 4 columns]

In [6]:
freq = infer_frequency("会世元丰CTA1号", nav_data)

In [10]:
nav_df = date_normalization(nav_data, freq)

In [11]:
nav_df

          date  nav_unit  nav_accumulated  nav_adjusted
0   2018-08-03    1.0000           1.0000        1.0000
1   2018-08-10    1.0020           1.0020        1.0020
2   2018-08-17    1.0088           1.0088        1.0088
3   2018-08-24    0.9987           0.9987        0.9987
4   2018-08-31    0.9976           0.9976        0.9976
..         ...       ...              ...           ...
351 2025-06-20    2.1159           2.1159        2.1159
352 2025-06-27    2.0992           2.0992        2.0992
353 2025-07-04    2.0853           2.0853        2.0853
354 2025-07-11    2.0933           2.0933        2.0933
355 2025-07-18    2.1058           2.1058        2.1058

[356 rows x 4 columns]

In [ ]:
def get_nav_ratio_table(df_nav):
    start_day = df_nav["date"].min().strftime("%Y-%m-%d")
    end_day = df_nav["date"].max().strftime("%Y-%m-%d")
    days_diff = int((pd.to_datetime(self.end_day_t) - pd.to_datetime(self.start_day_t)).dt.days)
    ## total_return
    total_return = (
        list(self.df_nav["nav_adjusted"])[-1] / list(self.df_nav["nav_adjusted"])[0]
        - 1
    )
    excess_total_return = (
        list(self.df_nav["excess_nav"])[-1] / list(self.df_nav["excess_nav"])[0] - 1
    )
    ## annual_return
    annual_return = pow(1 + total_return, 365 / days_diff) - 1
    excess_annual_return = pow(1 + excess_total_return, 365 / days_diff) - 1
    ## max_drawdown
    max_drawdown = self.df_drawdown["fund_drawdown"].min()
    excess_max_drawdown = self.df_drawdown["excess_drawdown"].min()
    ## annual_volatility
    annual_volatility = self.df_return["nav_return"].std() * np.sqrt(
        250 if self.freq == "D" else 52
    )
    excess_annual_volatility = self.df_return["excess_return"].std() * np.sqrt(
        250 if self.freq == "D" else 52
    )
    ## sharpe_ratio
    sharpe_ratio = (annual_return - self.risk_free_rate) / annual_volatility
    excess_sharpe_ratio = (
        excess_annual_return - self.risk_free_rate
    ) / excess_annual_volatility
    nav_ratio_table = pd.DataFrame(
        {
            "整体业绩": ["产品收益", "超额收益"],
            "总收益率": [
                format(total_return, ".2%"),
                format(excess_total_return, ".2%"),
            ],
            "年化收益率": [
                format(annual_return, ".2%"),
                format(excess_annual_return, ".2%"),
            ],
            "最大回撤": [
                format(max_drawdown, ".2%"),
                format(excess_max_drawdown, ".2%"),
            ],
            "年化波动率": [
                format(annual_volatility, ".2%"),
                format(excess_annual_volatility, ".2%"),
            ],
            "夏普比率": [
                format(sharpe_ratio, ".2f"),
                format(excess_sharpe_ratio, ".2f"),
            ],
        }
    )
    return nav_ratio_table

            日期    单位净值    累计净值    复权净值
0   2024-10-16  1.0000  1.0000  1.0000
1   2024-10-17  1.0000  1.0000  1.0000
2   2024-10-18  1.0000  1.0000  1.0000
3   2024-10-19  1.0000  1.0000  1.0000
4   2024-10-20  1.0000  1.0000  1.0000
..         ...     ...     ...     ...
229 2025-06-02  1.0999  1.0999  1.0999
230 2025-06-03  1.1006  1.1006  1.1006
231 2025-06-04  1.1010  1.1010  1.1010
232 2025-06-05  1.1011  1.1011  1.1011
233 2025-06-06  1.1013  1.1013  1.1013

[234 rows x 4 columns]