In [1]:
from function import load_data, nav_normalization

Welcome to use Wind Quant API for Python (WindPy)!

COPYRIGHT (C) 2024 WIND INFORMATION CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

In [2]:
nav_data = load_data("temporary_data\净值序列_20250610_114829_锡和骐骥1号私募证券投资基金.xlsx")

In [4]:
nav_data = nav_normalization(nav_data)

In [5]:
nav_data

            日期    单位净值    累计净值    复权净值
0   2024-10-16  1.0000  1.0000  1.0000
1   2024-10-17  1.0000  1.0000  1.0000
2   2024-10-18  1.0000  1.0000  1.0000
3   2024-10-19  1.0000  1.0000  1.0000
4   2024-10-20  1.0000  1.0000  1.0000
..         ...     ...     ...     ...
229 2025-06-02  1.0999  1.0999  1.0999
230 2025-06-03  1.1006  1.1006  1.1006
231 2025-06-04  1.1010  1.1010  1.1010
232 2025-06-05  1.1011  1.1011  1.1011
233 2025-06-06  1.1013  1.1013  1.1013

[234 rows x 4 columns]